.login-signup {
    color: white;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    padding: 20px;
}

h2 {
    font-size: 24px;
    justify-content: center;
}

#login {
    padding: 10px;
}

#signup {
    padding: 10px;
}
